body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    color: #fff;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #c00; 
    padding: 10px 0; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
}

.logo h1 {
    margin-left: 20px;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin-right: 20px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

h2 {
    display: flex;
    margin-top: 100px;
}



.container {
    max-width: 900px;
    margin: 0 auto; 
    padding: 20px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between; 
    box-sizing: border-box; 
}

.movie-container {
    width: calc(50% - 20px); 
    margin-bottom: 30px; 
    box-sizing: border-box; 
    border: 1px solid #a20707; 
}

.movie {
    display: flex; 
    padding: 10px; 
}

.movie img {
    width: 100px; 
    height: auto; 
    margin-right: 10px; 
}

.movie-info {
    flex-grow: 1; 
}
.movie-info h2 {
    margin-top: 0; 
    
}

a {
    text-decoration: none;
    color: #c31010;
    margin-top: 0;
}

a:hover {
    color: #c6c6c6; 
    text-decoration: none;
}